In [1]:
import pandas as pd
import numpy as np

from rosstat import load_info

pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)

In [2]:
info = load_info()

Актуальность данных: 21.03.2024

In [3]:
info

{'actual_date': '21.03.2024',
 'Основные характеристики субъектов российской федерации': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_01_2023.xlsx',
 'Население': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_02_2023.xlsx',
 'Труд': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_03_2023.xlsx',
 'Уровень жизни населения': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_04_2023.xlsx',
 'Образование': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_05_2023.xlsx',
 'Здравоохранение': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_06_2023.xlsx',
 'Культура, отдых и туризм': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_07_2023.xlsx',
 'Земельные ресурсы и охрана окружающей природной среды': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_08_2023.xlsx',
 'Валовой региональный продукт': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_09_2023.xlsx',
 'Инвестиции': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_10_2023.xlsx',
 'Основные фонды': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_11_2023.xlsx',
 'Предприятия и организации': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_12_2023.xlsx',
 'Промышленное производство': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_13_2023.xlsx',
 'Сельское, лесное хозяйство, рыболовство и рыбоводство': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_14_2023.xlsx',
 'Строительство': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_15_2023.xlsx',
 'Торговля и услуги населению': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_16_2023.xlsx',
 'Транспорт': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_17_2023.xlsx',
 'Информационные и коммуникационные технологии': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_18_2023.xlsx',
 'Наука и инновации': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_19_2023.xlsx',
 'Финансы': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_20_2023.xlsx',
 'Цены и тарифы': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_21_2023.xlsx',
 'Внешняя торговля': 'https://rosstat.gov.ru/storage/2024/03-21/RzFCM6ER/Sbornik_Reg_Rus_Pokaz_2023/RR_pokaz_22_2023.xlsx'}

In [4]:
content = pd.ExcelFile(info['Население']).sheet_names

In [5]:
t = pd.read_excel(info["Население"], sheet_name="Содержание")
t

,2. НАСЕЛЕНИЕ,Unnamed: 1
0,2.1.,Численность населения
1,2.2.,Среднегодовая численность населения
2,2.3.,Удельный вес городского и сельского населения в общей численности населения
3,2.4.,Соотношение мужчин и женщин
4,2.5.,Возрастной состав населения
5,2.6.,Коэффициенты демографической нагрузки
6,2.7.,Темпы прироста численности населения
7,2.8.,Общие коэффициенты рождаемости
8,2.9.,Общие коэффициенты смертности
9,2.10.,Смертность населения в трудоспособном возрасте
10,2.11.,Смертность населения (без показателя смертности от внешних причин)
11,2.12.,Коэффициенты младенческой смертности
12,2.13.,Коэффициенты естественного прироста населения на 1 000 человек населения
13,2.14.,Суммарный коэффициент рождаемости
14,2.15.,Ожидаемая продолжительность жизни при рождении
15,2.16.,Общие коэффициенты брачности на 1 000 человек населения
16,2.17.,Общие коэффициенты разводимости на 1 000 человек населения
17,2.18.,Соотношение браков и разводов
18,2.19.,Коэффициенты миграционного прироста на 10 000 человек населения
19,2.20.,Распределение числа прибывших по направлениям передвижения
20,2.21.,Распределение числа выбывших по направлениям передвижения
21,2.22.,Численность вынужденных переселенцев
22,2.23.,Численность беженцев
23,2.24.,"Численность лиц, получивших временное убежище"

In [6]:
for sheet in content[1:]:
    df = pd.read_excel(info["Население"], sheet_name=sheet)
    display(df[:3])
    print()

,2.1. ЧИСЛЕННОСТЬ НАСЕЛЕНИЯ \n(оценка на конец года; тысяч человек),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015,2020,2021,2022
1,Российская Федерация,"143 236,6","142 865,4","147 182,3","147 455,7","146 980,1","146 447,4"
2,Центральный федеральный округ,"38 109,0","38 445,7","39 650,3","40 341,0","40 298,1","40 240,3"

,2.2. СРЕДНЕГОДОВАЯ ЧИСЛЕННОСТЬ НАСЕЛЕНИЯ\n (оценка; тысяч человек),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015,2020,2021,2022
1,Российская Федерация,"143 518,8","142 849,5","146 963,2","147 707,5","147 217,9",146713.7
2,Центральный федеральный округ,"38 076,5","38 390,3","39 516,7","40 379,7","40 319,5",40269.1

,2.3. УДЕЛЬНЫЙ ВЕС ГОРОДСКОГО И СЕЛЬСКОГО НАСЕЛЕНИЯ В ОБЩЕЙ ЧИСЛЕННОСТИ НАСЕЛЕНИЯ \n(оценка на конец года; в процентах),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Городское население,NaN,NaN,NaN,NaN,NaN,Сельское население,NaN,NaN,NaN,NaN,NaN
1,NaN,2005,2010.0,2015.0,2020.0,2021.0,2022.0,2005,2010,2015,2020,2021,2022
2,Российская Федерация,73.2,73.8,74.3,74.7,74.8,74.9,26.8,26.2,25.7,25.3,25.2,25.1

,2.4. СООТНОШЕНИЕ МУЖЧИН И ЖЕНЩИН \n(оценка на конец года; на 1000 мужчин приходится женщин),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015,2020,2021,2022.0
1,Российская Федерация,1 160,1 163,1 157,1 153,1 150,1151.0
2,Центральный федеральный округ,1 183,1 187,1 173,1 162,1 158,1158.0

,2.5. ВОЗРАСТНОЙ СОСТАВ НАСЕЛЕНИЯ \n(оценка на конец года; в процентах от общей численности населения),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010.0,2015.0,2020.0,2021.0,2022.0
1,NaN,Население моложе трудоспособного возраста,NaN,NaN,NaN,NaN,NaN
2,Российская Федерация,16.5,16.2,18.0,18.6,18.6,18.5

,2.6. КОЭФФИЦИЕНТЫ ДЕМОГРАФИЧЕСКОЙ НАГРУЗКИ \n(оценка на конец года; на 1000 человек трудоспособного возраста приходится лиц нетрудоспособных возрастов),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010.0,2015.0,2020.0,2021.0,2022.0
1,NaN,Всего,NaN,NaN,NaN,NaN,NaN
2,Российская Федерация,589,626.0,739.0,778.0,742.0,756.0

,2.7. ТЕМПЫ ПРИРОСТА ЧИСЛЕННОСТИ НАСЕЛЕНИЯ1) \n(в процентах),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,2010.00,2015.0,2020.0,2021.0,2022.0
1,Российская Федерация,0.02,0.3,-0.3,-0.3,-0.4
2,Центральный федеральный округ,0.30,0.7,-0.2,-0.1,-0.1

,2.8. ОБЩИЕ КОЭФФИЦИЕНТЫ РОЖДАЕМОСТИ \n(число родившихся на 1 000 человек населения),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,2005.0,2010.0,2015.0,2020.0,2021.0,2022.0,"Место, занимаемое в Российской Федерации 2022"
1,Российская Федерация,10.2,12.5,13.3,9.8,9.6,8.9,NaN
2,Центральный федеральный округ,8.7,10.7,11.7,9.0,8.9,8.2,NaN

,2.9. ОБЩИЕ КОЭФФИЦИЕНТЫ СМЕРТНОСТИ \n(число умерших на 1 000 человек населения),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,2005.0,2010.0,2015.0,2020.0,2021.0,2022.0,"Место, занимаемое в Российской Федерации 2022"
1,Российская Федерация,16.1,14.2,13.0,14.6,16.7,12.9,NaN
2,Центральный федеральный округ,17.1,15.2,13.5,15.1,17.5,13.1,NaN

,2.10. СМЕРТНОСТЬ НАСЕЛЕНИЯ В ТРУДОСПОСОБНОМ ВОЗРАСТЕ1)\n (число умерших на 100 000 человек соответствующего возраста),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015.0,2020.0,2021.0,2022.0
1,Российская Федерация,827.8,634,546.7,548.2,604.6,536.3
2,Центральный федеральный округ,793.7,599.3,496.8,521.8,586.9,496.4

,2.11. СМЕРТНОСТЬ НАСЕЛЕНИЯ (БЕЗ ПОКАЗАТЕЛЯ СМЕРТНОСТИ ОТ ВНЕШНИХ ПРИЧИН)1) \n(число умерших на 100 000 человек населения),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,2011,2015,2020,2021,2022
1,Российская Федерация,"1 207,6","1 182,3","1 364,9","1 578,6","1 194,6"
2,Центральный федеральный округ,"1 278,6","1 244,5","1 423,9","1 663,2","1 225,2"

,"2.12. КОЭФФИЦИЕНТЫ МЛАДЕНЧЕСКОЙ СМЕРТНОСТИ \n(число детей, умерших в возрасте до 1 года, на 1 000 родившихся живыми)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,2005.0,2010.0,2015.0,2020.0,2021.0,2022.0,"Место, занимаемое в Российской Федерации 2022"
1,Российская Федерация,11.0,7.5,6.5,4.5,4.6,4.4,NaN
2,Центральный федеральный округ,10.0,6.6,6.0,3.9,4.0,4.0,NaN

,2.13. КОЭФФИЦИЕНТЫ ЕСТЕСТВЕННОГО ПРИРОСТА НАСЕЛЕНИЯ на 1 000 человек населения1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005.0,2010.0,2015.0,2020.0,2021.0,2022.0
1,Российская Федерация,-5.9,-1.7,0.3,-4.8,-7.1,-4.0
2,Центральный федеральный округ,-8.4,-4.5,-1.8,-6.1,-8.6,-4.9

,2.14. СУММАРНЫЙ КОЭФФИЦИЕНТ РОЖДАЕМОСТИ \n(число детей на 1 женщину),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005.000,2010.000,2015.000,2020.000,2021.000,2022.000
1,Российская Федерация,1.294,1.567,1.777,1.505,1.505,1.416
2,Центральный федеральный округ,1.160,1.367,1.575,1.407,1.422,1.311

,2.15. ОЖИДАЕМАЯ ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ ПРИ РОЖДЕНИИ \n(число лет),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,2005,2010,2015.00,2020.00,2021.00,2022.00,"Место, занимаемое в Российской Федерации 2022"
1,NaN,Все население,NaN,NaN,NaN,NaN,NaN,NaN
2,Российская Федерация,65.37,68.94,71.39,71.54,70.06,72.73,NaN

,2.16. ОБЩИЕ КОЭФФИЦИЕНТЫ БРАЧНОСТИ на 1 000 человек населения,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005.0,2010.0,2015.0,2020.0,2021.0,2022.0
1,Российская Федерация,7.4,8.5,7.9,5.3,6.3,7.2
2,Центральный федеральный округ,7.4,8.1,8.0,5.2,6.6,7.3

,2.17. ОБЩИЕ КОЭФФИЦИЕНТЫ РАЗВОДИМОСТИ на 1 000 человек населения,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005.0,2010.0,2015.0,2020.0,2021.0,2022.0
1,Российская Федерация,4.2,4.5,4.2,3.9,4.4,4.7
2,Центральный федеральный округ,4.3,4.4,4.1,3.8,4.2,4.2

,2.18. СООТНОШЕНИЕ БРАКОВ И РАЗВОДОВ \n(на 1 000 браков приходится разводов),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005.0,2010.0,2015.0,2020.0,2021,2022
1,Российская Федерация,567.0,526.0,527.0,733.0,698,648
2,Центральный федеральный округ,576.0,545.0,516.0,719.0,635,572

,2.19. КОЭФФИЦИЕНТЫ МИГРАЦИОННОГО ПРИРОСТА на 10 000 человек населения1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005.0,2010.0,2015.0,2020.0,2021.0,2022.0
1,Российская Федерация,20.0,19.0,28.0,13.0,39.0,4.0
2,Центральный федеральный округ,101.0,74.0,85.0,40.0,73.0,35.0

,2.20. РАСПРЕДЕЛЕНИЕ ЧИСЛА ПРИБЫВШИХ ПО НАПРАВЛЕНИЯМ ПЕРЕДВИЖЕНИЯ \n(в процентах от общего числа прибывших),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015.0,2020.0,2021.0,2022.0
1,NaN,В пределах региона,NaN,NaN,NaN,NaN,NaN
2,Российская Федерация,52.5,49.3,43.4,40.7,41.6,39.2

,2.21. РАСПРЕДЕЛЕНИЕ ЧИСЛА ВЫБЫВШИХ ПО НАПРАВЛЕНИЯМ ПЕРЕДВИЖЕНИЯ \n(в процентах от общего числа выбывших),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015.0,2020.0,2021.0,2022.0
1,NaN,В пределах региона,NaN,NaN,NaN,NaN,NaN
2,Российская Федерация,55.3,53.3,45.7,41.7,46.2,39.8

,2.22. ЧИСЛЕННОСТЬ ВЫНУЖДЕННЫХ ПЕРЕСЕЛЕНЦЕВ \n(на конец года; человек),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015,2020,2021,2022
1,Российская Федерация,168 253,49 474,25 359,2512,700,321
2,Центральный федеральный округ,30 787,7 963,3 115,145,80,61

,2.23. ЧИСЛЕННОСТЬ БЕЖЕНЦЕВ \n(на конец года; человек),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015,2020,2021,2022
1,Российская Федерация,458,801,770,455,331,277
2,Центральный федеральный округ,217,671,584,417,299,251

,"2.24. ЧИСЛЕННОСТЬ ЛИЦ, ПОЛУЧИВШИХ ВРЕМЕННОЕ УБЕЖИЩЕ \n(на конец года; человек)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2005,2010,2015,2020,2021,2022
1,Российская Федерация,1 061,3 726,313 707,19817,10581,67 496
2,Центральный федеральный округ,317,1 138,118 081,7324,4638,29 195